@import url(https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap);.lsl-insitution-select {
  position: relative; }
  .lsl-insitution-select .lsl-institution-drop {
    position: absolute;
    z-index: 100;
    top: 40px;
    height: 210px;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    background-color: #ffffff;
    box-shadow: 0 0 1px 0 rgba(48, 49, 51, 0.05), 0 2px 6px 1px rgba(48, 49, 51, 0.14); }
    .lsl-insitution-select .lsl-institution-drop ul {
      padding-top: 5px; }
    .lsl-insitution-select .lsl-institution-drop li {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 40px;
      cursor: pointer; }
      .lsl-insitution-select .lsl-institution-drop li:hover {
        background-color: #14b1e8; }
        .lsl-insitution-select .lsl-institution-drop li:hover .check {
          background-image: url("data:image/svg+xml,%3Csvg width='20px' height='20px' viewBox='0 0 20 20' version='1.1' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='flows' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='Icon/Checkmark-Circle-2/Line' transform='translate(-2.000000, -2.000000)'%3E%3Cpath d='M11.9999996,2 L12.2799045,2.0038418 C17.6733312,2.15206821 21.9999996,6.57075806 21.9999996,12 L21.9999996,12 L21.9961578,12.279905 C21.8479314,17.6733316 17.4292419,22 11.9999996,22 C6.47714956,22 1.99999956,17.52285 1.99999956,12 C1.99999956,6.47715 6.47714956,2 11.9999996,2 L11.9999996,2 Z M11.9999997,4 C7.58171965,4 3.99999965,7.58172 3.99999965,12 C3.99999965,16.41828 7.58171965,20 11.9999997,20 L11.9999997,20 L12.2491791,19.9961932 C16.5521638,19.8645429 19.9999997,16.3349162 19.9999997,12 L19.9999997,12 L19.9961928,11.7508206 C19.8645426,7.44783584 16.3349159,4 11.9999997,4 Z M14.7727496,8.29440243 C15.1228894,7.93758173 15.6921589,7.88902093 16.1000001,8.2 C16.5418281,8.53689 16.6268941,9.168172 16.2900001,9.61 L16.2900001,9.61 L11.7200001,15.61 C11.5312071,15.855247 11.2394971,15.9992561 10.9300001,16.0000146 L10.9300001,16.0000146 L10.7993428,15.9921547 C10.541016,15.9595427 10.3035617,15.8269932 10.14,15.62 L10.14,15.62 L7.71000003,12.51 L7.71000003,12.51 L7.63901098,12.4061124 C7.38451695,11.978632 7.48225695,11.4185277 7.88500003,11.105 C8.32130503,10.765345 8.95034503,10.843695 9.29000003,11.28 L9.29000003,11.28 L10.92,13.39 L14.7,8.39 L14.6900001,8.39000002 L14.6900001,8.39000002 Z' id='Fill' fill='%23ffffff' fill-rule='evenodd'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E"); }
        .lsl-insitution-select .lsl-institution-drop li:hover .chevron {
          background-image: url("data:image/svg+xml,%3Csvg width='7px' height='10px' viewBox='0 0 7 10' version='1.1' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Symbols' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='Icon/Chevron-Right' transform='translate(-9.000000, -7.000000)'%3E%3Cpath d='M10.5,17.0000167 L10.5,17.0000167 C10.234197,17.0015368 9.97871898,16.897187 9.78999998,16.71 L9.79,16.71 C9.397878,16.32108 9.395282,15.68792 9.78420163,15.2958 C9.78612647,15.2938593 9.78805926,15.2919265 9.78999995,15.2900017 L13.1,12.0000017 L9.91999995,8.6900017 L9.91999997,8.69000172 C9.53227597,8.29996472 9.53227597,7.67004172 9.91999994,7.28000172 L9.91999991,7.28000175 C10.3089199,6.88787975 10.9420799,6.88528375 11.3341999,7.27420336 C11.3361406,7.2761282 11.3380734,7.27806099 11.3399982,7.28000168 L15.1999982,11.2800017 L15.1999982,11.2800017 C15.5811412,11.6688457 15.5811412,12.2911617 15.1999982,12.6800017 L11.1999982,16.6800017 L11.1999982,16.6800017 C11.0187032,16.8757877 10.7666802,16.9909987 10.4999982,17.0000167 L10.5,17.0000167 Z' id='Fill' fill='%23ffffff' fill-rule='evenodd'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E"); }
        .lsl-insitution-select .lsl-institution-drop li:hover .item-content {
          color: #ffffff; }
    .lsl-insitution-select .lsl-institution-drop .item-content {
      display: inline-flex;
      align-items: center;
      margin-left: 16px;
      color: #212121; }

.id-providers li {
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #6d7278;
  border-bottom: 1px solid #ededed;
  cursor: pointer; }

.id-providers .svg-icon.disabled {
  background-image: url("data:image/svg+xml,%3Csvg width='22px' height='22px' viewBox='0 0 22 22' version='1.1' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='flows' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='fontawesome/check-circle-o' transform='translate(-1.000000, -1.000000)' fill='%23dddfe1'%3E%3Cpath d='M17.3973215,10.8883929 L11.7455357,16.5401786 C11.5758929,16.7098214 11.375,16.7946429 11.1428571,16.7946429 C10.9107143,16.7946429 10.7098214,16.7098214 10.5401786,16.5401786 L6.60267855,12.6026786 C6.43303569,12.4330357 6.34821426,12.2321429 6.34821426,12 C6.34821426,11.7678571 6.43303569,11.5669643 6.60267855,11.3973214 L7.96874998,10.03125 C8.13839284,9.86160713 8.3392857,9.77678571 8.57142856,9.77678571 C8.80357142,9.77678571 9.00446427,9.86160713 9.17410713,10.03125 L11.1428571,12 L14.8258929,8.31696427 C14.9955357,8.14732141 15.1964286,8.06249998 15.4285714,8.06249998 C15.6607143,8.06249998 15.8616072,8.14732141 16.03125,8.31696427 L17.3973215,9.6830357 C17.5669643,9.85267856 17.6517857,10.0535714 17.6517857,10.2857143 C17.6517857,10.5178571 17.5669643,10.71875 17.3973215,10.8883929 Z M19.2857143,12 C19.2857143,10.6785714 18.9598215,9.45982142 18.3080357,8.34374998 C17.65625,7.22767855 16.7723214,6.34374998 15.65625,5.69196426 C14.5401786,5.04017854 13.3214286,4.71428568 12,4.71428568 C10.6785714,4.71428568 9.45982142,5.04017854 8.34374998,5.69196426 C7.22767855,6.34374998 6.34374998,7.22767855 5.69196426,8.34374998 C5.04017854,9.45982142 4.71428568,10.6785714 4.71428568,12 C4.71428568,13.3214286 5.04017854,14.5401786 5.69196426,15.65625 C6.34374998,16.7723214 7.22767855,17.65625 8.34374998,18.3080357 C9.45982142,18.9598215 10.6785714,19.2857143 12,19.2857143 C13.3214286,19.2857143 14.5401786,18.9598215 15.65625,18.3080357 C16.7723214,17.65625 17.65625,16.7723214 18.3080357,15.65625 C18.9598215,14.5401786 19.2857143,13.3214286 19.2857143,12 Z M22.2857143,12 C22.2857143,13.8660714 21.8258929,15.5870536 20.90625,17.1629465 C19.9866072,18.7388393 18.7388393,19.9866072 17.1629465,20.90625 C15.5870536,21.8258929 13.8660714,22.2857143 12,22.2857143 C10.1339286,22.2857143 8.41294641,21.8258929 6.83705355,20.90625 C5.26116069,19.9866072 4.01339282,18.7388393 3.09374996,17.1629465 C2.1741071,15.5870536 1.71428567,13.8660714 1.71428567,12 C1.71428567,10.1339286 2.1741071,8.41294641 3.09374996,6.83705355 C4.01339282,5.26116069 5.26116069,4.01339282 6.83705355,3.09374996 C8.41294641,2.1741071 10.1339286,1.71428567 12,1.71428567 C13.8660714,1.71428567 15.5870536,2.1741071 17.1629465,3.09374996 C18.7388393,4.01339282 19.9866072,5.26116069 20.90625,6.83705355 C21.8258929,8.41294641 22.2857143,10.1339286 22.2857143,12 Z'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E"); }

.user-credentials {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.125rem;
  color: #76797b; }
  .user-credentials img {
    margin-right: 9px;
    box-shadow: 0 0 1px 0 rgba(48, 49, 51, 0.05), 0 2px 6px 1px rgba(48, 49, 51, 0.14);
    border-radius: 50%;
    border: 2px solid #ffffff;
    width: 32px; }

.mb-l {
  margin-bottom: 40px; }

.mb-md {
  margin-bottom: 22px; }

.mb-s {
  margin-bottom: 14px; }

.cetered-text {
  text-align: center;
  max-width: 372px;
  margin-left: auto;
  margin-right: auto; }

.lsl-card-item {
  width: 100%; }

.search {
  position: relative;
  display: inline-block;
  width: 100%; }
  .search::before {
    background-image: url("../images/search.svg");
    width: 24px;
    height: 23px;
    content: "";
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%); }
  .search input {
    padding-right: 46px; }

.password {
  position: relative;
  display: inline-block;
  width: 100%; }
  .password::before {
    content: "show";
    color: #76797b;
    font-size: 0.875rem;
    position: absolute;
    right: 16px;
    top: 50%;
    cursor: pointer;
    transform: translateY(-50%); }
  .password input {
    padding-right: 50px; }

.hide {
  display: none; }

.svg-icon {
  background-position: center center;
  background-repeat: no-repeat; }

.check {
  background-image: url("data:image/svg+xml,%3Csvg width='20px' height='20px' viewBox='0 0 20 20' version='1.1' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='flows' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='Icon/Checkmark-Circle-2/Line' transform='translate(-2.000000, -2.000000)'%3E%3Cpath d='M11.9999996,2 L12.2799045,2.0038418 C17.6733312,2.15206821 21.9999996,6.57075806 21.9999996,12 L21.9999996,12 L21.9961578,12.279905 C21.8479314,17.6733316 17.4292419,22 11.9999996,22 C6.47714956,22 1.99999956,17.52285 1.99999956,12 C1.99999956,6.47715 6.47714956,2 11.9999996,2 L11.9999996,2 Z M11.9999997,4 C7.58171965,4 3.99999965,7.58172 3.99999965,12 C3.99999965,16.41828 7.58171965,20 11.9999997,20 L11.9999997,20 L12.2491791,19.9961932 C16.5521638,19.8645429 19.9999997,16.3349162 19.9999997,12 L19.9999997,12 L19.9961928,11.7508206 C19.8645426,7.44783584 16.3349159,4 11.9999997,4 Z M14.7727496,8.29440243 C15.1228894,7.93758173 15.6921589,7.88902093 16.1000001,8.2 C16.5418281,8.53689 16.6268941,9.168172 16.2900001,9.61 L16.2900001,9.61 L11.7200001,15.61 C11.5312071,15.855247 11.2394971,15.9992561 10.9300001,16.0000146 L10.9300001,16.0000146 L10.7993428,15.9921547 C10.541016,15.9595427 10.3035617,15.8269932 10.14,15.62 L10.14,15.62 L7.71000003,12.51 L7.71000003,12.51 L7.63901098,12.4061124 C7.38451695,11.978632 7.48225695,11.4185277 7.88500003,11.105 C8.32130503,10.765345 8.95034503,10.843695 9.29000003,11.28 L9.29000003,11.28 L10.92,13.39 L14.7,8.39 L14.6900001,8.39000002 L14.6900001,8.39000002 Z' id='Fill' fill='%2314b1e8' fill-rule='evenodd'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  margin-right: 8px;
  height: 20px;
  width: 20px; }

.check-bold {
  background-image: url("data:image/svg+xml,%3Csvg width='22px' height='22px' viewBox='0 0 22 22' version='1.1' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='flows' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='fontawesome/check-circle-o' transform='translate(-1.000000, -1.000000)' fill='%2314b1e8'%3E%3Cpath d='M17.3973215,10.8883929 L11.7455357,16.5401786 C11.5758929,16.7098214 11.375,16.7946429 11.1428571,16.7946429 C10.9107143,16.7946429 10.7098214,16.7098214 10.5401786,16.5401786 L6.60267855,12.6026786 C6.43303569,12.4330357 6.34821426,12.2321429 6.34821426,12 C6.34821426,11.7678571 6.43303569,11.5669643 6.60267855,11.3973214 L7.96874998,10.03125 C8.13839284,9.86160713 8.3392857,9.77678571 8.57142856,9.77678571 C8.80357142,9.77678571 9.00446427,9.86160713 9.17410713,10.03125 L11.1428571,12 L14.8258929,8.31696427 C14.9955357,8.14732141 15.1964286,8.06249998 15.4285714,8.06249998 C15.6607143,8.06249998 15.8616072,8.14732141 16.03125,8.31696427 L17.3973215,9.6830357 C17.5669643,9.85267856 17.6517857,10.0535714 17.6517857,10.2857143 C17.6517857,10.5178571 17.5669643,10.71875 17.3973215,10.8883929 Z M19.2857143,12 C19.2857143,10.6785714 18.9598215,9.45982142 18.3080357,8.34374998 C17.65625,7.22767855 16.7723214,6.34374998 15.65625,5.69196426 C14.5401786,5.04017854 13.3214286,4.71428568 12,4.71428568 C10.6785714,4.71428568 9.45982142,5.04017854 8.34374998,5.69196426 C7.22767855,6.34374998 6.34374998,7.22767855 5.69196426,8.34374998 C5.04017854,9.45982142 4.71428568,10.6785714 4.71428568,12 C4.71428568,13.3214286 5.04017854,14.5401786 5.69196426,15.65625 C6.34374998,16.7723214 7.22767855,17.65625 8.34374998,18.3080357 C9.45982142,18.9598215 10.6785714,19.2857143 12,19.2857143 C13.3214286,19.2857143 14.5401786,18.9598215 15.65625,18.3080357 C16.7723214,17.65625 17.65625,16.7723214 18.3080357,15.65625 C18.9598215,14.5401786 19.2857143,13.3214286 19.2857143,12 Z M22.2857143,12 C22.2857143,13.8660714 21.8258929,15.5870536 20.90625,17.1629465 C19.9866072,18.7388393 18.7388393,19.9866072 17.1629465,20.90625 C15.5870536,21.8258929 13.8660714,22.2857143 12,22.2857143 C10.1339286,22.2857143 8.41294641,21.8258929 6.83705355,20.90625 C5.26116069,19.9866072 4.01339282,18.7388393 3.09374996,17.1629465 C2.1741071,15.5870536 1.71428567,13.8660714 1.71428567,12 C1.71428567,10.1339286 2.1741071,8.41294641 3.09374996,6.83705355 C4.01339282,5.26116069 5.26116069,4.01339282 6.83705355,3.09374996 C8.41294641,2.1741071 10.1339286,1.71428567 12,1.71428567 C13.8660714,1.71428567 15.5870536,2.1741071 17.1629465,3.09374996 C18.7388393,4.01339282 19.9866072,5.26116069 20.90625,6.83705355 C21.8258929,8.41294641 22.2857143,10.1339286 22.2857143,12 Z'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  margin-right: 8px;
  height: 20px;
  width: 20px; }

.chevron {
  background-image: url("data:image/svg+xml,%3Csvg width='7px' height='10px' viewBox='0 0 7 10' version='1.1' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Symbols' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='Icon/Chevron-Right' transform='translate(-9.000000, -7.000000)'%3E%3Cpath d='M10.5,17.0000167 L10.5,17.0000167 C10.234197,17.0015368 9.97871898,16.897187 9.78999998,16.71 L9.79,16.71 C9.397878,16.32108 9.395282,15.68792 9.78420163,15.2958 C9.78612647,15.2938593 9.78805926,15.2919265 9.78999995,15.2900017 L13.1,12.0000017 L9.91999995,8.6900017 L9.91999997,8.69000172 C9.53227597,8.29996472 9.53227597,7.67004172 9.91999994,7.28000172 L9.91999991,7.28000175 C10.3089199,6.88787975 10.9420799,6.88528375 11.3341999,7.27420336 C11.3361406,7.2761282 11.3380734,7.27806099 11.3399982,7.28000168 L15.1999982,11.2800017 L15.1999982,11.2800017 C15.5811412,11.6688457 15.5811412,12.2911617 15.1999982,12.6800017 L11.1999982,16.6800017 L11.1999982,16.6800017 C11.0187032,16.8757877 10.7666802,16.9909987 10.4999982,17.0000167 L10.5,17.0000167 Z' id='Fill' fill='%2314b1e8' fill-rule='evenodd'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  margin-right: 16px;
  height: 10px;
  width: 7px; }

.lsl-card-btn.btn-primary {
  background-color: #14b1e8;
  color: #ffffff;
  border: none; }

.lsl-card-btn.btn-disabled {
  background-color: #dddfe1;
  color: #76797b;
  border: none;
  opacity: 0.63; }

:root {
  font-size: 16px; }

html {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: #020506; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  position: relative;
  padding-top: 58px;
  background-color: #f9fafb;
  display: flex;
  flex-direction: column;
  min-height: 100vh; }

header {
  height: 58px;
  width: 100vw;
  background-color: #ffffff;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center; }

footer {
  height: 49px;
  width: 100vw;
  background-color: #ffffff;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.08);
  display: flex;
  justify-content: center;
  color: #6d7278;
  font-size: 0.875rem; }

main {
  display: flex;
  justify-content: center;
  flex: 1; }

li {
  list-style: none; }

.lsl-container-main {
  max-width: 960px;
  height: 100%;
  width: 100%;
  margin: 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.lsl-header-item {
  display: flex;
  align-items: center;
  height: 100%; }

.lsl-logo img {
  width: 28px;
  margin-right: 12px; }

.lsl-avatar {
  color: #76797b; }
  .lsl-avatar img {
    margin-left: 8px;
    border-radius: 50%;
    border: 2px solid #ffffff;
    box-shadow: 0 0 1px 0 rgba(48, 49, 51, 0.05), 0 2px 6px 1px rgba(48, 49, 51, 0.14);
    width: 36px; }

.lsl-footer-links {
  display: flex;
  flex-wrap: wrap; }
  .lsl-footer-links a {
    color: #6d7278;
    text-decoration: none; }
    .lsl-footer-links a:hover {
      text-decoration: underline; }
  .lsl-footer-links li {
    padding: 0 14px;
    border-right: 1px solid #6d7278; }
    .lsl-footer-links li:first-child {
      padding-left: 0; }
    .lsl-footer-links li:last-child {
      border: none; }

.lsl-container-card {
  width: 100%;
  height: 100%;
  max-width: 487px;
  border-radius: 4px;
  margin: 110px 1rem 2rem 1rem;
  padding: 34px;
  box-shadow: 0 2px 18px 0 rgba(0, 0, 0, 0.26); }

.lsl-card-header {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .lsl-card-header img {
    margin-bottom: 10px; }

.lsl-form-item {
  height: 40px;
  border-radius: 4px;
  border: 1px solid #aaacad;
  outline: none; }

.lsl-form-txt {
  font-size: 1rem;
  color: #76797b;
  padding: 0 15px; }
  .lsl-form-txt:focus {
    border-color: #00a9e0; }

.lsl-form-btn {
  color: #ffffff;
  font-family: Roboto;
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
  background-color: #14b1e8;
  border: none;
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; }

.lsl-card-btn {
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-weight: 600;
  color: #76797b;
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; }

.provider-btn {
  position: relative; }
  .provider-btn img {
    position: absolute;
    left: 18px;
    top: 50%;
    transform: translateY(-50%); }
  .provider-btn span {
    width: 100%;
    padding: 0 45px; }

.lsl-info-txt {
  color: #212121; }
  .lsl-info-txt a {
    color: #14b1e8; }
