@import "functions";

.lsl-insitution-select {
  position: relative;

  .lsl-institution-drop {
    position: absolute;
    z-index: 100;
    top: $form-item-height;

    height: 210px;
    width: 100%;

    border-radius: 10px;
    overflow: hidden;

    background-color: $bg-color-secondary;
    box-shadow: 0 0 1px 0 rgba(48, 49, 51, 0.05),
      0 2px 6px 1px rgba(48, 49, 51, 0.14);

    ul {
      padding-top: 5px;
    }

    li {
      display: flex;
      justify-content: space-between;
      align-items: center;

      height: $form-item-height;

      cursor: pointer;

      &:hover {
        background-color: $color-primary;

        .check {
          background-image: url(svg-encode($check-contrast));
        }

        .chevron {
          background-image: url(svg-encode($chevron-contrast));
        }

        .item-content {
          color: $text-color-contrast;
        }
      }
    }

    .item-content {
      display: inline-flex;
      align-items: center;
      margin-left: 16px;

      color: $color-info;
    }
  }
}

.id-providers {
  li {
    height: 40px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    color: $text-color-secondary-light;
    border-bottom: 1px solid $text-color-secondary-lightest;

    cursor: pointer;
  }

  .svg-icon.disabled {
    background-image: url(svg-encode($check-bold-disabled));
  }
}

.user-credentials {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 1.125rem;
  color: $text-color-secondary;

  img {
    margin-right: 9px;
    box-shadow: 0 0 1px 0 rgba(48, 49, 51, 0.05),
      0 2px 6px 1px rgba(48, 49, 51, 0.14);

    border-radius: 50%;
    border: 2px solid $bg-color-secondary;
    width: 32px;
  }
}
