.mb-l {
  margin-bottom: 40px;
}

.mb-md {
  margin-bottom: 22px;
}

.mb-s {
  margin-bottom: 14px;
}

.cetered-text {
  text-align: center;
  max-width: 372px;
  margin-left: auto;
  margin-right: auto;
}

.lsl-card-item {
  width: 100%;
}

.search {
  position: relative;
  display: inline-block;
  width: 100%;

  &::before {
    background-image: url("../images/search.svg");
    width: 24px;
    height: 23px;
    content: "";

    position: absolute;
    right: 16px;
    top: 50%;

    transform: translateY(-50%);
  }

  input {
    padding-right: 46px;
  }
}

.password {
  position: relative;
  display: inline-block;
  width: 100%;

  &::before {
    content: "show";
    color: $text-color-secondary;
    font-size: 0.875rem;

    position: absolute;
    right: 16px;
    top: 50%;

    cursor: pointer;

    transform: translateY(-50%);
  }

  input {
    padding-right: 50px;
  }
}

.hide {
  display: none;
}

.svg-icon {
  background-position: center center;
  background-repeat: no-repeat;
}

.check {
  background-image: url(svg-encode($check-primary));
  margin-right: 8px;

  height: 20px;
  width: 20px;
}

.check-bold {
  background-image: url(svg-encode($check-bold-primary));
  margin-right: 8px;

  height: 20px;
  width: 20px;
}

.chevron {
  background-image: url(svg-encode($chevron-primary));
  margin-right: 16px;

  height: 10px;
  width: 7px;
}

.lsl-card-btn.btn-primary {
  background-color: $color-primary;
  color: $text-color-contrast;

  border: none;
}

.lsl-card-btn.btn-disabled {
  background-color: $color-disabled;
  color: $text-color-secondary;

  border: none;

  opacity: 0.63;
}
