$bg-color-primary: #f9fafb;
$bg-color-secondary: #ffffff;

$color-primary: #14b1e8;

$color-action: #14b1e8;
$color-info: #212121;
$color-success: #78b62d;
$color-warning: #f6a800;
$color-error: #fb3640;
$color-success-bg: #f2f8ea;
$color-warning-bg: #fef6e6;
$color-error-bg: #ffebec;
$color-disabled: #dddfe1;

$text-color-primary: #020506;
$text-color-secondary: #76797b;
$text-color-secondary-light: #6d7278;
$text-color-secondary-lightest: #ededed;
$text-color-contrast: #ffffff;
$text-color-link: #14b1e8;

$border-radius: 4px;
$header-height: 58px;
$footer-height: 49px;
$form-item-height: 40px;
$max-width: 960px;
$main-col-hor-margins: 1rem;
