@import "variables";
@import "functions";
@import "components";
@import "utils";
@import url("https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap");

:root {
  font-size: 16px;
}

html {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: $text-color-primary;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  padding-top: $header-height;

  background-color: $bg-color-primary;

  display: flex;
  flex-direction: column;

  min-height: 100vh;
}

header {
  height: $header-height;
  width: 100vw;

  background-color: $bg-color-secondary;
  position: fixed;
  top: 0;

  display: flex;
  justify-content: center;
}

footer {
  height: $footer-height;
  width: 100vw;

  background-color: $bg-color-secondary;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.08);

  display: flex;
  justify-content: center;

  color: $text-color-secondary-light;
  font-size: 0.875rem;
}

main {
  display: flex;
  justify-content: center;

  flex: 1;
}

li {
  list-style: none;
}

// Components

.lsl-container-main {
  max-width: $max-width;
  height: 100%;
  width: 100%;
  margin: 0 $main-col-hor-margins;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.lsl-header-item {
  display: flex;
  align-items: center;
  height: 100%;
}

.lsl-logo {
  img {
    width: 28px;
    margin-right: 12px;
  }
}

.lsl-avatar {
  color: $text-color-secondary;

  img {
    margin-left: 8px;
    border-radius: 50%;
    border: 2px solid $bg-color-secondary;

    box-shadow: 0 0 1px 0 rgba(48, 49, 51, 0.05),
      0 2px 6px 1px rgba(48, 49, 51, 0.14);

    width: 36px;
  }
}

.lsl-footer-links {
  display: flex;
  flex-wrap: wrap;

  a {
    color: $text-color-secondary-light;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  li {
    padding: 0 14px;
    border-right: 1px solid $text-color-secondary-light;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      border: none;
    }
  }
}

.lsl-container-card {
  width: 100%;
  height: 100%;
  max-width: 487px;
  border-radius: $border-radius;
  margin: 110px $main-col-hor-margins 2rem $main-col-hor-margins;
  padding: 34px;

  box-shadow: 0 2px 18px 0 rgba(0, 0, 0, 0.26);
}

.lsl-card-header {
  display: flex;
  flex-direction: column;

  align-items: center;

  img {
    margin-bottom: 10px;
  }
}

.lsl-form-item {
  height: $form-item-height;
  border-radius: $border-radius;
  border: 1px solid #aaacad;

  outline: none;
}

.lsl-form-txt {
  font-size: 1rem;
  color: $text-color-secondary;
  padding: 0 15px;

  &:focus {
    border-color: #00a9e0;
  }
}

.lsl-form-btn {
  color: $text-color-contrast;
  font-family: Roboto;
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
  background-color: $color-primary;

  border: none;
  cursor: pointer;
  appearance: none;
}

.lsl-card-btn {
  background: none;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 1rem;
  font-weight: 600;
  color: $text-color-secondary;

  cursor: pointer;
  appearance: none;
}

.provider-btn {
  position: relative;

  img {
    position: absolute;

    left: 18px;
    top: 50%;

    transform: translateY(-50%);
  }

  span {
    width: 100%;
    padding: 0 45px;
  }
}

.lsl-info-txt {
  color: $color-info;

  a {
    color: $text-color-link;
  }
}
